@use "sass:list";

$future: 'future';
$modern: 'modern';
$modern-deeper: 'modern-deeper';
$deepest: 'deepest';

// See: https://css-tricks.com/snippets/css/using-font-face/
$modes:
  $future // woff2 - Future focused
  $modern // woff2 woff - Standard
  $modern-deeper // woff2 woff ttf, - Standard and Safari, Android, iOS
  $deepest // eot eot-ie woff2 woff ttf svg - Standard, Safari, Android, iOS, legacy iOS and IE8+9
  !default;

@mixin fontFace($family, $src, $style: normal, $weight: normal) {
  @font-face {
    font-family: $family;
    @include outputFontType($FONT_OUTPUT_MODE, $family, $src);
    font-style: $style;
    font-weight: $weight;
  }
}

@mixin outputFontType($mode, $family, $src) {
  @if not list.index($modes, $mode) {
    @warn 'No mode found for `#{$mode}` in font modes map - falling back to modern-deeper mode.';
    $mode: $modern-deeper;
  }

  @if $mode == $future {
    src: url('#{$src}.woff2') format('woff2');
  } @else if $mode == $modern {
    src: url('#{$src}.woff2') format('woff2'),
         url('#{$src}.woff') format('woff');
  } @else if $mode == $modern-deeper {
    src: url('#{$src}.woff2') format('woff2'),
         url('#{$src}.woff') format('woff'),
         url('#{$src}.ttf') format('truetype');
  } @else if $mode == $deepest {
    src: url('#{$src}.eot');
    src: url('#{$src}.eot?#iefix') format('embedded-opentype'),
         url('#{$src}.woff2') format('woff2'),
         url('#{$src}.woff') format('woff'),
         url('#{$src}.ttf') format('truetype'),
         url('#{$src}.svg##{$family}') format('svg');
  }
}
