@import './_tailwind.config';
@import '../../../scss/settings/_settings.core';
@import '../../../scss/settings/_settings.theme';

@import '../../../scss/tools/_tools.captain';
@import '../../../scss/tools/_tools.helpers';

@import 'tailwindcss/base';

@import 'tailwindcss/components';
@layer components {
  @import '../../../scss/objects/_objects.cluster';
  @import '../../../scss/objects/_objects.content';
  @import '../../../scss/objects/_objects.frame';
  @import '../../../scss/objects/_objects.screen-reader';
  @import '../../../scss/objects/_objects.stack';
  @import '../../../scss/objects/_objects.wrapper';
}

@import 'tailwindcss/utilities';
@layer utilities {
  @import '../../../scss/utilities/_utilities.debug';
}
