// TODO Allow for easily overriding and extending of theme

$THEME: (
  'debug': true,
  'cluster': (
    'gap': map-merge(('default': 1rem), $tw-space),
  ),
  'content': (
    'gutter': (
      'default': 0,
      'sm': 10px,
      'md': 20px,
      'lg': 40px,
      'xl': 80px,
    ),
    'width': (
      'sm': 360px,
      'default': 70ch, // About 560px for common fonts at 16px
      'md': 560px,
      'lg': 720px,
      'xl': 900px,
    ),
  ),
  'frame': (
    'ratios': (
      '16\\:9': (16:9),
      'golden': (1.618:1),
    ),
  ),
  'stack': (
    'gap': map-merge(('default': 1.5rem), $tw-space),
  ),
  'text': (
    // TODO Support both clamped text styles and responsive text styles for the user to choose
  ),
  'wrapper': (
    'padding': (
      'default': 20px,
      'md': 40px,
      'lg': 56px,
      'xl': 80px,
    ),
    'maxWidth': (
      'default': 1080px,
      'sm': 800px,
      'lg': 1200px,
    ),
  ),
  'z-index': (
    aboveAll             : 100,
    modal                : 65,
    overlay              : 60,
    error                : 50,

    componentsForeground : 40,
    components           : 30,
    componentsBackground : 20,

    foreground           : 5,
    base                 : 1,
    background           : -1,
  ),
);
