.o-skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  display: block;
  height: 1px;
  overflow: hidden;
  padding: 20px;
  position: absolute;
  text-decoration: underline;
  top: 1rem;
  left: 1rem;
  width: 1px;
  z-index: 999;

  &:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    width: auto;
  }
}
