/**
 * -=-=-=-=-=-=-=-=-
 *      FRAME
 * -=-=-=-=-=-=-=-=-
 * The frame allows us to place any content inside of a frame, and constrain it to an aspect ratio.
 *
 * The most obvious application is cropping media, such as videos and images, to a desired aspect ratio. You can even
 * give media different aspect ratios depending on screen size or other conditions, such as portrait vs landscape
 * device orientation.
 */

// Initialise globals in case this object is used without the framework
$OBJECT_PREFIX: '' !default;
$THEME: (
  'frame': (
    'ratios': (
      '16\\:9': (16:9),
      'golden': (1.618:1),
    ),
  ),
) !default;

// Get settings from the global theme settings
$frame-ratios: captain('frame', 'ratios');

// Create the class, adding the prefix defined in the config
$frame: #{'.' + $OBJECT_PREFIX + 'frame'};

@responsive {
  #{$frame} {
    padding-bottom: calc(var(--frame-consequent) / var(--frame-antecedent) * 100%);
    position: relative;

    & > * {
      align-items: center;
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
    }

    & > img,
    & > video {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    @each $ratio-name, $ratio-pair in $frame-ratios {
      @each $antecedent, $consequent in $ratio-pair {
        @if (type-of($antecedent) != number) {
          @error "object.frame: `#{$antecedent}` needs to be a number.";
        }

        @if (type-of($consequent) != number) {
          @error "object.frame: `#{$consequent}` needs to be a number.";
        }

        @include modifier($ratio-name) {
          --frame-antecedent: #{$antecedent};
          --frame-consequent: #{$consequent};
        }
      }
    }
  }
}
